html {
	overflow-y: scroll;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

#container {
	height: 100%;
	width: 100%;
}

#images-box {
	margin: 100px auto 0 auto;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width: 700px;
}

.face {
	width: 118px;
	height: 118px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    z-index: 10;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#stats {
	width: 700px;
	min-height: 500px;
	margin: 0 auto;
}