html {
    overflow: auto;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10pt;
}

h3 {
    display: inline;
}

#container {
	height: 100%;
	width: 100%;
    padding: 40px 0 0 0;
}

#greyout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    background-color: #000;
    opacity: .75;
    display: none;
    margin: -8px 0 0 -8px;
}

#about-img {
    cursor: pointer;
    cursor: hand;
}

#about {
    z-index: 10;

    padding: 10px;

    font-size: 10pt;

    color: black;
    display: none;

    width: 800px;
    height: 350px;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -175px;

    background: #fff;
    /*
    background: #000;
    opacity: .7;
    */


    position: absolute;

    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

.onecomic {
    display: block;
    margin: 0px 0 0 0;
    overflow: auto;
}

.images-box {
    /*margin: 0 auto;*/
    float: left;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width: 590px;
    height: 240px;
    overflow: none;
    cursor: hand;
    cursor: pointer;
}

.tile {
	width: 118px;
	height: 118px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.wordlist {
    margin-top: 15px;
    color: #8A8687;
    float: left;
    width: 700px;
    height: 240px;
    font-size: 8pt;
}

