html {
    overflow: auto;
}

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h3 {
    display: inline;
}

#container {
	height: 100%;
	width: 100%;
}

.onecomic {
    display: block;
    margin: 40px 0 0 0;
    overflow: auto;
}

.images-box {
    /*margin: 0 auto;*/
    float: left;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    width: 590px;
    overflow: none;
}

.tile {
	width: 118px;
	height: 118px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.wordlist {
    margin-top: 15px;
    color: #8A8687;
    float: left;
    width: 700px;
    font-size: 8pt;
}

